{% extends 'base.html' %}About | Ilahia Law College{% block content %}
  <!-- page title -->
  <section class="page-title-section overlay" data-background="static/images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" href="@@page-link">About Us</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">
            Home <i class="fa-solid fa-angles-right"></i> About Us
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- about us -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
          <h2 class="section-title" data-aos="fade-up">
            Welcome to
            <br />Ilahia Law College – Shaping Tomorrow’s Legal Leaders
          </h2>
          <p class="" data-aos="fade-left">Founded in 2024, Ilahia Law College is an innovative institution committed to providing high-quality legal education that prepares students for the complexities of the modern legal world. With a focus on academic excellence, ethical practice, and social responsibility, we aim to nurture the next generation of legal professionals who will contribute to justice, fairness, and societal progress.</p>
          <p class="" data-aos="fade-left">Though a young institution, Ilahia Law College is driven by a bold vision to offer a transformative education that combines academic rigor with practical experience. Our expert faculty, state-of-the-art facilities, and commitment to excellence ensure that our students are well-equipped to excel in the ever-evolving field of law.</p>
          <a href="about.html" class="btn btn-primary-outline" class="" data-aos="fade-up">Know more</a>
        </div>
        <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" class="" data-aos="zoom-in">
          <img class="img-fluid w-100" src="https://media.istockphoto.com/id/474306176/photo/yale-university-graduation-ceremonies.jpg?s=612x612&w=0&k=20&c=W9yb72ka-iApvw-TO7QAmdPfS58KjLpyLFJwf_7Dr4o=" alt="about image" />
        </div>
      </div>
    </div>
  </section>
  <!-- /about us -->

  <!-- Our Mission Section -->
  <section class="our-mission bg-cover" data-background="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="height: 500px;" data-aos="fade-up">
    <div class="our-mission-container container">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 col-sm-4 position-relative" data-aos="fade-in">
          <h2 class="section-title text-white">OUR VISION</h2>
        </div>
        <div class="col-lg-6 col-sm-8">
          <div class="bg-white overlay-box p-5" data-aos="fade-up">
            <p>
              <i class="fa-solid fa-quote-left fs-5"></i>
              <b>
                To be a leading institution that fosters excellence in legal education and empowers students to become innovative, ethical, and impactful legal professionals.
                <br />
              </b>
              <i class="fa-solid fa-quote-right fs-5"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Our Mission Section -->

  {% comment %} <!-- funfacts -->
  <section class="section-sm bg-primary">
    <div class="container">
      <div class="row" class="" data-aos="zoom-out">
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0" class="" data-aos="fade-left">
          <div class="text-center">
            <h2 class="count text-white" data-count="60">0</h2>
            <h5 class="text-white">TEACHERS</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0" class="" data-aos="fade-left">
          <div class="text-center">
            <h2 class="count text-white" data-count="50">0</h2>
            <h5 class="text-white">COURSES</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0" class="" data-aos="fade-left">
          <div class="text-center">
            <h2 class="count text-white" data-count="1000">0</h2>
            <h5 class="text-white">STUDENTS</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0" class="" data-aos="fade-left">
          <div class="text-center">
            <h2 class="count text-white" data-count="3737">0</h2>
            <h5 class="text-white">SATISFIED CLIENT</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /funfacts --> {% endcomment %}

<!-- Our Mission Section -->
<section 
  id="our-mission-section" 
  class="section bg-cover" 
  data-background="https://images.pexels.com/photos/6077447/pexels-photo-6077447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
  style="height: auto;"
>
  <div id="our-mission-container" class="container">
    <div class="row align-items-center h-100">
      <h2 
        class="section-title text-white text-center" 
        data-aos="fade-left"
      >
        OUR MISSION
      </h2>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5 content-box" style="opacity: 0.8;">
          <p data-aos="fade-left">
            <i class="fa-solid fa-graduation-cap fs-5"></i>
            <b>
              To provide an academically rigorous legal education that equips students with the skills, knowledge, and values necessary for success in the legal profession.
              <br />
            </b>
          </p>
          <p data-aos="fade-left">
            <i class="fa-solid fa-graduation-cap fs-5"></i>
            <b>
              To create a dynamic learning environment that encourages critical thinking, research, and intellectual engagement.
              <br />
            </b>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5 content-box" style="opacity: 0.8;">
          <p data-aos="fade-left">
            <i class="fa-solid fa-graduation-cap fs-5"></i>
            <b>
              To offer opportunities for practical learning through internships, moot courts, legal clinics, and community service projects. 
              <br />
            </b>
          </p>
          <p data-aos="fade-left">
            <i class="fa-solid fa-graduation-cap fs-5"></i>
            <b>
              To instill a deep sense of social responsibility and ethical conduct, empowering students to contribute positively to society through law.
              <br />
            </b>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- about us -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Image Section -->
      <div class="col-md-6 order-1 order-md-1 mb-4 mb-md-0" data-aos="zoom-in">
        <img class="img-fluid w-100" src="https://media.istockphoto.com/id/474306176/photo/yale-university-graduation-ceremonies.jpg?s=612x612&w=0&k=20&c=W9yb72ka-iApvw-TO7QAmdPfS58KjLpyLFJwf_7Dr4o=" alt="about image" />
      </div>

      <!-- Content Section -->
      <div class="col-md-6 order-2 order-md-2">
        <h2 class="section-title" data-aos="fade-up">
          OUR VALUES
        </h2>
        <ul class="list-unstyled" data-aos="fade-left">
          <li><strong>Integrity :</strong> We uphold honesty, transparency, and ethical behavior in all academic and professional endeavors.</li>
          <br>
          <li><strong>Excellence :</strong> Striving for the highest standards in legal education, research, and practice, empowering students to reach their full potential.</li>
          <br>
          <li><strong>Innovation :</strong> Encouraging creative thinking and problem-solving to develop forward-thinking legal professionals equipped for a dynamic legal landscape.</li>
          <br>
          <li><strong>ESocial Responsibility :</strong> Committed to community engagement, public service, and the pursuit of justice for the betterment of society.</li>
          <br>
          <li><strong>Inclusiveness :</strong> Fostering a diverse and supportive learning environment that values varied perspectives and ensures equal opportunities for all.</li>
        </ul>
        <p class="section-subtitle" data-aos="fade-left">At Ilahia Law College, we believe that a strong foundation in legal education is the key to building a just and equitable society. Through our commitment to academic rigor, practical learning, and ethical responsibility, we strive to shape legal professionals who will lead with knowledge, integrity, and a passion for justice.</p>
        <a href="about.html" class="btn btn-primary-outline mt-3" data-aos="fade-up">Know more</a>
      </div>
    </div>
  </div>
</section>
<!-- /about us -->

{% endblock %}
