{% extends 'base.html' %}Anti Ragging Cell | Ilahia Law College{% block content %}
  <!-- page title -->
  <section class="page-title-section overlay" data-background="static/images/title.jpeg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" href="@@page-link">Anti Ragging Cell</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">
            Home <i class="fa-solid fa-angles-right"></i> Campus Life <i class="fa-solid fa-angles-right"></i> Anti Ragging Cell
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->
  <!-- CSS override to replace background image -->
  <style>
    section.page-title-section.overlay[data-background='static/images/backgrounds/page-title.jpg'] {
      background-image: url('static/images/title.jpeg') !important;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
{% endblock %}
