{% extends 'base.html' %}Courses | Ilahia Law College{% block content %}
  <!-- page title -->
  <section class="page-title-section overlay" data-background="static/images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" href="courses.html">Our Courses</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary"></li>
          </ul>
          <p class="text-lighten">
            Home <i class="fa-solid fa-angles-right"></i> Courses
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- courses -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3" class="" data-aos="flip-left">Courses</h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
            <div>
              <a href="courses.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block" data-aos="flip-up">See more. . .</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Academic Programs -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow border-0">
            <img src="https://images.pexels.com/photos/30483129/pexels-photo-30483129/free-photo-of-statue-of-lady-justice-with-scales.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="LLB Program" data-aos="flip-up" />
            <div class="card-body">
              <h5 class="card-title font-weight-bold section-title" data-aos="flip-up">BA.LLB. – 5-Year Integrated Double Degree Course in Law</h5>
              <p class="card-text text-muted" data-aos="flip-up">A comprehensive undergraduate program that lays the foundation for a career in law.</p>
              <a href="fiveyears" class="btn btn-primary btn-sm" data-aos="flip-up">Apply now</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow border-0">
            <img src="https://images.pexels.com/photos/5669602/pexels-photo-5669602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="BA LLB Program" data-aos="flip-down" />
            <div class="card-body">
              <h5 class="card-title font-weight-bold section-title" data-aos="flip-down">3-Year LL.B. – Unitary Bachelor’s Degree in Law</h5>
              <p class="card-text text-muted" data-aos="flip-down">An integrated program combining arts and law for a multidisciplinary approach.</p>
              <a href="threeyears" class="btn btn-primary btn-sm" data-aos="flip-down">Apply now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Academic Programs -->
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="courses.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block" data-aos="flip-down">See all</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /courses -->
{% endblock %}
