{% extends 'base.html' %}
{% block content %}
  <!-- Page Title -->
  <section class="page-title-section overlay" data-background="static/images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" href="@@page-link">Facilities</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">
            Home <i class="fa-solid fa-angles-right"></i> Campus Life <i class="fa-solid fa-angles-right"></i> Facilities
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /Page Title -->

  <!-- Facility Image Container -->
  <section class="py-5">
    <div class="container">
      <h2 class="section-title text-left mb-5" data-aos="fade-in">Campus Facilities</h2>
      <div class="row g-4"> <!-- g-4 adds horizontal and vertical spacing -->
        
        <div class="col-lg-4 col-md-12">
          <div class="facility-image-container mb-4" data-aos="zoom-in">
            <img src="static/images/library.jpeg" 
                 class="w-100 shadow-1-strong" 
                 alt="Library" 
                 style="height: 250px;">
            <div class="overlay-text">LAW LIBRARY</div>
          </div>
          <div class="facility-image-container mb-4" data-aos="zoom-out">
            <img src="static/images/moot.jpeg" 
                 class="w-100 shadow-1-strong" 
                 alt="Moot Court" 
                 style="height: 300px;">
            <div class="overlay-text">MOOT COURT SOCIETY</div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="facility-image-container mb-4" data-aos="zoom-out">
            <img src="static/images/computer.jpeg" 
                 class="w-100 shadow-1-strong" 
                 alt="Computer Lab" 
                 style="height: 300px;">
            <div class="overlay-text">COMPUTER LAB</div>
          </div>
          <div class="facility-image-container mb-4" data-aos="zoom-in">
            <img src="static/images/hostel.jpeg" 
                 class="w-100 shadow-1-strong" 
                 alt="Hostel" 
                 style="height: 250px;">
            <div class="overlay-text">HOSTEL FACILITIES</div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="facility-image-container mb-4" data-aos="zoom-out">
            <img src="static/images/bus.jpeg" 
                 class="w-100 shadow-1-strong" 
                 alt="Seminar Hall" 
                 style="height: 250px;">
            <div class="overlay-text">BUST TRANSPORTATION</div>
          </div>
          <div class="facility-image-container mb-4" data-aos="zoom-in">
            <img src="static/images/ground.jpeg" 
                 class="w-100 shadow-1-strong" 
                 alt="Sports Complex" 
                 style="height: 300px;">
            <div class="overlay-text">SPORTS AND RECREATION COMPLEX</div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- /Facility Image Container -->
{% endblock %}
