{% extends 'base.html' %}Home | Ilahia Law College{% block content %}
  <!-- hero slider -->
  <section class="hero-section overlay" style="position: relative; overflow: hidden;">
    <!-- Image background with automatic slideshow -->
    <div class="bg-image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
      <img id="slideshow-bg" src="static/images/banner1.JPG" alt="Background Image" style="width: 100%; height: 100%; object-fit: cover; transition: opacity 1s ease-in-out;">
    </div> 
    <!-- Content overlay -->
    <div class="container">
      <div class="hero-slider">
        <!-- slider item -->
        <div class="hero-slider-item">
          <div class="row">
            <div class="col-md-8" style="top: 100px;">
              <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Ilahia Law College Excellence</h1>
              <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Quality legal education fostering justice, ethics, and professional success.</p>
              <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
            </div>
          </div>
        </div>
        <!-- slider item -->
        <div class="hero-slider-item">
          <div class="row">
            <div class="col-md-8" style="top: 100px;">
              <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Empowering Future Legal Professionals</h1>
              <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Pioneering justice through quality education, ethics, and professional development.</p>
              <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
            </div>
          </div>
        </div>
        <!-- slider item -->
        <div class="hero-slider-item">
          <div class="row">
            <div class="col-md-8" style="top: 100px;">
             <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Ilahia Law College Excellence</h1>
             <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Building a strong foundation for a successful legal career worldwide.</p>
             <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /hero slider -->

  <!-- about us -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
          <h2 class="section-title" data-aos="fade-up">
            Welcome to
            <br />Ilahia Law College – Shaping Tomorrow’s Legal Leaders
          </h2>
          <p class="text-justify" data-aos="fade-left">Ilahia Law College is an institution of eminence providing top-notch legal education that prepares students for the complexities of the modern legal world. By meticulously pursuing academic excellence, imparting practical and impactful training, adhering to ethical practices, and maintaining social responsibility of the highest degree, we aim to nurture the next generation of legal professionals who shall contribute to justice, fairness, and national progress.</p>
          <p class="text-justify" data-aos="fade-left">Founded in 2024, Ilahia Law College is a young institution, driven by a bold vision to offer transformative education: our expert faculty, state-of-the-art facilities, and commitment to transcend the realm of the ordinary ensure that our students are well-equipped to excel in the ever-evolving field of law.
            The law college is managed by Ilahia Trust.</p>
          <a href="about" class="btn btn-primary-outline" class="" data-aos="fade-up">Know more</a>
        </div>
        <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0" class="" data-aos="zoom-in">
          <img class="img-fluid w-100" src="https://images.pexels.com/photos/8731038/pexels-photo-8731038.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="about image" style="height: 600px; width: auto;" />
        </div>
      </div>
    </div>
  </section>
  <!-- /about us -->

<!-- Academics Section -->
<section class="academics-section py-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="section-title font-weight-bold" data-aos="flip-up">Explore Our Academic Programs</h2>
      </div>
    </div>

    <!-- First Row of Academic Programs -->
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/2day.png" class="card-img-top" alt="LLB Program" data-aos="flip-up">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-up">Two-day national seminar Inaugrated by Mr.B Kemel Pasha (Retired Judge of High Court of Kerala)</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/llbbatch.png" class="card-img-top" alt="3-Year LLB Program" data-aos="flip-down">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-down">Commencement of first LLB Batch Motivation class- By Mr.Mahesh. G (District Judge)</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/seminar.png" class="card-img-top" alt="Merit LL.B. Program" data-aos="flip-up">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-up">Seminar by Dr. N.l Sajikumar, Associate Professor, Govt Law College, Trivandrum</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/republicday.png" class="card-img-top" alt="Management Quota" data-aos="flip-down">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-down">Republic day festivities in association with Taluk legal services committee</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Row of Academic Programs -->
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/motivationalclass.png" class="card-img-top" alt="Diploma Law" data-aos="flip-up">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-up">Motivation class led by Mr. A.M. Jamal Azhari ( School of Quran and Science, Aluva)</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/cyber.png" class="card-img-top" alt="PG Law" data-aos="flip-down">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-down">Cyber Security awareness programme by Ernakulam Dustrict legal services authority, Kerala Police Cyber Crime Unit and Sevakh Global</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/lexmas.png" class="card-img-top" alt="Online Course" data-aos="flip-up">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-up">"Lexmas" Christmas Celebration</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/iftar.png" class="card-img-top" alt="Legal Workshop" data-aos="flip-down">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-down">Iftar Meet</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- /Second Row -->
  </div>
</section>
<!-- /Academics Section -->

      <!-- Academics Section -->
  <section class="academics-section py-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          <h2 class="section-title font-weight-bold text-left" data-aos="flip-up">Explore Our Academic Programs</h2>
        </div>
      </div>

      <!-- Academic Programs -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow border-0">
            <img src="https://images.pexels.com/photos/30483129/pexels-photo-30483129/free-photo-of-statue-of-lady-justice-with-scales.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="LLB Program" data-aos="flip-up">
            <div class="card-body">
              <h5 class="card-title font-weight-bold section-title" data-aos="flip-up">BA.LLB. – 5-Year Integrated Double Degree Course in Law</h5>
              <p class="card-text text-muted" data-aos="flip-up">A comprehensive undergraduate program that lays the foundation for a career in law.</p>
              <a href="fiveyears" class="btn btn-primary btn-sm" data-aos="flip-up">Apply now</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow border-0">
            <img src="https://images.pexels.com/photos/5669602/pexels-photo-5669602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="BA LLB Program" data-aos="flip-down">
            <div class="card-body">
              <h5 class="card-title font-weight-bold section-title" data-aos="flip-down">3-Year LL.B. – Unitary Bachelor’s Degree in Law</h5>
              <p class="card-text text-muted" data-aos="flip-down">An integrated program combining arts and law for a multidisciplinary approach.</p>
              <a href="threeyears" class="btn btn-primary btn-sm" data-aos="flip-down">Apply now</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
  <div class="card h-100 shadow border-0">
    <img src="https://images.pexels.com/photos/5669616/pexels-photo-5669616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Merit LL.B. Program" data-aos="flip-down">
    <div class="card-body">
      <h5 class="card-title font-weight-bold section-title" data-aos="flip-down">3-Year LL.B. – Merit Seat Admission</h5>
      <p class="card-text text-muted" data-aos="flip-down">Secure your place in the 3-year LL.B. course through the Kerala Government merit quota process.</p>
      <a href="merit" class="btn btn-primary btn-sm" data-aos="flip-down">Apply now</a>
    </div>
  </div>
</div>

        
      </div>
      <!-- /Academic Programs -->
    </div>
  </section>
  <!-- /Academics Section -->

    <!-- Gallery -->
    <section class="py-5">
      <div class="container">
        <h2 class="section-title text-left mb-5" data-aos="fade-in">Legal Insights Gallery</h2>
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <img src="https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Boat on Calm Water" / data-aos="zoom-in">
            <img src="https://images.pexels.com/photos/8112195/pexels-photo-8112195.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Wintry Mountain Landscape" / data-aos="zoom-out">
          </div>
  
          <div class="col-lg-4 mb-4">
            <img src="https://images.pexels.com/photos/6077476/pexels-photo-6077476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Mountains in the Clouds" / data-aos="zoom-out">
            <img src="https://images.pexels.com/photos/8730785/pexels-photo-8730785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Boat on Calm Water" / data-aos="zoom-in">
          </div>
  
          <div class="col-lg-4 mb-4">
            <img src="https://images.pexels.com/photos/7876050/pexels-photo-7876050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Waves at Sea" / data-aos="zoom-out">
            <img src="https://images.pexels.com/photos/6077189/pexels-photo-6077189.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Yosemite National Park" / data-aos="zoom-in">
          </div>
        </div>
      </div>
    </section>
    <!-- /Gallery -->

<!-- banner-feature -->
<section class="bg-white py-5">
  <div class="container">
    <h2 class="section-title text-center mb-5" data-aos="fade-up">Why Choose Law College ?</h2>
    <div class="row g-4 justify-content-center">

      <!-- 1. Academic Excellence -->
      <div class="col-sm-6 col-lg-3 text-center text-sm-left" data-aos="fade-left">
        <img src="static/images/open-book.gif" class="feature-icon img-fluid mb-3" />
        <h3 class="mb-3">Academic Excellence</h3>
        <p class="text-justify">Our curriculum combines theory and practice, challenging students to excel through rigorous coursework, lectures, and continuous evaluations.</p>
      </div>

      <!-- 2. Practical Training -->
      <div class="col-sm-6 col-lg-3 text-center text-sm-left" data-aos="fade-left">
        <img src="static/images/graduation.gif" class="feature-icon img-fluid mb-3" />
        <h3 class="mb-3">Practical Training</h3>
        <p class="text-justify">Students gain practical skills through seminars, conferences, moot courts, legal clinics, and internships, experiencing real-world legal scenarios.</p>
      </div>

      <!-- 3. Interdisciplinary Initiatives -->
      <div class="col-sm-6 col-lg-3 text-center text-sm-left" data-aos="fade-left">
        <img src="static/images/open-enrollment.gif" class="feature-icon img-fluid mb-3" />
        <h3 class="mb-3">Interdisciplinary Initiatives</h3>
        <p class="text-justify">Collaborations with fields like social work and public policy enable students to address broader societal issues.</p>
      </div>

      <!-- 4. Ethics Courses and Workshops -->
      <div class="col-sm-6 col-lg-3 text-center text-sm-left" data-aos="fade-left">
        <img src="static/images/trophy.gif" class="feature-icon img-fluid mb-3" />
        <h3 class="mb-3">Legal Ethics & Integrity</h3>
        <p class="text-justify">Courses and workshops ensure students understand the ethical and moral dimensions of legal practice and responsibility.</p>
      </div>

      <!-- 5. Innovative Research -->
      <div class="col-sm-6 col-lg-3 text-center text-sm-left" data-aos="fade-left">
        <img src="static/images/open-book.gif" class="feature-icon img-fluid mb-3" />
        <h3 class="mb-3">Innovative Research</h3>
        <p class="text-justify">Faculty and students engage in impactful research addressing legal challenges and contributing to policy and justice.</p>
      </div>

      <!-- 6. Inclusive Environment -->
      <div class="col-sm-6 col-lg-3 text-center text-sm-left" data-aos="fade-left">
        <img src="static/images/graduation.gif" class="feature-icon img-fluid mb-3" />
        <h3 class="mb-3">Inclusive Environment</h3>
        <p class="text-justify">We cultivate diversity and equal opportunity, preparing students to advocate for justice in a pluralistic society.</p>
      </div>

      <!-- 7. Holistic Development -->
      <div class="col-sm-6 col-lg-3 text-center text-sm-left" data-aos="fade-left">
        <img src="static/images/open-enrollment.gif" class="feature-icon img-fluid mb-3" />
        <h3 class="mb-3">Holistic Development</h3>
        <p class="text-justify">We nurture not just legal expertise but also ethics, interpersonal skills, and well-being for a balanced professional life.</p>
      </div>

    </div>
  </div>
</section>
<!-- /banner-feature -->


        <br>
        <br>
        <br>


  <!-- success story -->
  <section class="section bg-cover"  data-aos="flip-down" data-background="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-4 position-relative success-video" data-aos="flip-up">
          <a class="play-btn venobox" href="https://youtu.be/nA1Aqp0sPQo" data-vbtype="video" data-aos="flip-up"><i class="ti-control-play"></i></a>
        </div>
        <div class="col-lg-6 col-sm-8">
          <div class="bg-white p-5">
            <h2 class="section-title" data-aos="flip-up">Success Stories of Our Law Graduates</h2>
            <p data-aos="fade-up">Our law graduates have gone on to achieve remarkable success in the legal field, making significant contributions to justice and society. From top law firms to prestigious courtrooms, their accomplishments inspire future legal professionals.</p>
            <p data-aos="fade-up">Join our esteemed law program and be part of a legacy of excellence. With world-class training and real-world experience, you too can make your mark in the legal world.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /success story -->

  <!-- cta -->
  <section class="section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="text-white font-secondary mb-0" data-aos="zoom-in">Click to Join the Upcoming Law Workshop</h6>
          <h2 class="section-title text-white" data-aos="zoom-out">Training in Advanced Legal Practices</h2>
          <a href="contact.html" class="btn btn-secondary" data-aos="zoom-in">Join Now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /cta -->

    <!-- contact -->
    <section class="section bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-title" data-aos="fade-in">Get in Touch with Us</h2>
          </div>
        </div>
        <div class="row">
<!-- Contact Form -->
<div class="col-lg-7 mb-4 mb-lg-0" data-aos="fade-in">

  <!-- Display success or error messages -->
  {% if messages %}
      <div>
          {% for message in messages %}
              <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}
  
  <form action="{% url 'send_message' %}" method="POST">
      {% csrf_token %}
      <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Full Name" required data-aos="fade-left"/>
      <input type="email" class="form-control mb-3" id="email" name="email" placeholder="Your Email Address" required data-aos="fade-left"/>
      <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Inquiry Subject" required data-aos="fade-left"/>
      <textarea name="message" id="message" class="form-control mb-3" placeholder="Write your message here..." rows="5" required data-aos="fade-left"></textarea>
      <button type="submit" class="btn btn-primary" data-aos="fade-left">SEND MESSAGE</button>
  </form>
</div>
<!-- Contact Information -->
  
          <!-- Contact Info -->
          <div class="col-lg-5">
            <p class="mb-5" data-aos="fade-left"/>For inquiries related to **admissions, legal seminars, moot court competitions, or faculty appointments**, feel free to reach out via phone or email. Our dedicated team is here to assist you.</p>
            <h5 class="text-primary" data-aos="fade-left"/>Contact Details</h5>
            <a href="tel:+917034567890" class="text-light h5 d-block" data-aos="fade-left"/>+91 70345 67890</a>
            <a href="mailto:info@ilahialawcollege.edu" class="mb-5 text-light h5 d-block" data-aos="fade-left"/>ilahialaw@gmail.com</a>
  
            <h5 class="text-primary" data-aos="fade-left">Campus Address</h5>
            <p data-aos="fade-left"/>
              Ilahia Law College,<br />
              Muvattupuzha, Kerala - 686673,<br />
              India
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- /contact -->
  
    <!-- Google Map Section -->
    <section class="section pt-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="map-container" data-aos="fade-left">
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3928.8824516477644!2d76.56767599999999!3d10.026558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDAxJzM1LjYiTiA3NsKwMzQnMDMuNiJF!5e0!3m2!1sen!2sin!4v1738141076412!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
