{% extends 'base.html' %}
{% block content %}
  <!-- page title -->
  <section class="page-title-section overlay" data-background="static/images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" href="@@page-link">Managements</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">
            Home <i class="fa-solid fa-angles-right"></i> Managements
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- Management Team Section -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <h2 class="section-title" data-aos="fade-left">Meet Our Management</h2>
          <p class="section-subtitle" data-aos="fade-left">Ilahia Law College operates under the stewardship of Ilahia Trust, an organization committed to academic excellence and community development. Established in 1992, Ilahia Trust was founded by a visionary group from diverse backgrounds, unified by the mission of providing quality education to the region.</p>
          <p class="section-subtitle" data-aos="fade-left">The Trust initially marked its presence with the establishment of Kavumkara Muslim L.P. School and Ilahia Public School, both in 1992. Over the years, it has expanded its educational footprint, including Ilahia College of Arts & Science and an esteemed Engineering College at Mulavoor. These institutions stand as a testament to Ilahia Trust’s unwavering dedication to professional excellence and academic advancement.</p>
          <p class="section-subtitle" data-aos="fade-left">With 70 dedicated members, 13 of whom form the executive committee, Ilahia Trust continues to oversee and guide its institutions with a commitment to fostering knowledge, innovation, and community service.</p>
        </div>

        <!-- Management Card -->
        <div class="col-lg-4 col-sm-6 mt-5">
          <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
            <img class="card-img-top rounded-0" src="static/images/teachers/teacher-1.jpg" alt="management" />
            <div class="card-body text-center">
              <h4 class="card-title">Dr. Robert Williams</h4>
              <p>Principal</p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="ti-twitter-alt"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Management Card -->
        <div class="col-lg-4 col-sm-6 mt-5">
          <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
            <img class="card-img-top rounded-0" src="static/images/teachers/teacher-2.jpg" alt="management" />
            <div class="card-body text-center">
              <h4 class="card-title">Mrs. Linda Thomson</h4>
              <p>Vice Principal</p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="ti-twitter-alt"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Management Card -->
        <div class="col-lg-4 col-sm-6 mt-5">
          <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
            <img class="card-img-top rounded-0" src="static/images/teachers/teacher-3.jpg" alt="management" />
            <div class="card-body text-center">
              <h4 class="card-title">Mr. Kevin Smith</h4>
              <p>Administrator</p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="ti-twitter-alt"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Management Team Section -->
{% endblock %}
