{% extends 'base.html' %}
{% block content %}
  <!-- page title -->
  <section class="page-title-section overlay" data-background="static/images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" href="@@page-link">Managements</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">
            Home <i class="fa-solid fa-angles-right"></i> Managements
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- Management Team Section -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <h2 class="section-title" data-aos="fade-left">Meet Our Management</h2>
          <h1 class="section-title fs-4" data-aos="fade-left">Legal Aid Committee of Ilahia Law College is constituted on 27/11/2024 with the following members</h1>
          <p class="section-subtitle" data-aos="fade-left">Ilahia Law College operates under the stewardship of Ilahia Trust, an organization committed to academic excellence and community development. Established in 1992, Ilahia Trust was founded by a visionary group from diverse backgrounds, unified by the mission of providing quality education to the region.</p>
          <p class="section-subtitle" data-aos="fade-left">The Trust initially marked its presence with the establishment of Kavumkara Muslim L.P. School and Ilahia Public School, both in 1992. Over the years, it has expanded its educational footprint, including Ilahia College of Arts & Science and an esteemed Engineering College at Mulavoor. These institutions stand as a testament to Ilahia Trust’s unwavering dedication to professional excellence and academic advancement.</p>
          <p class="section-subtitle" data-aos="fade-left">With 70 dedicated members, 13 of whom form the executive committee, Ilahia Trust continues to oversee and guide its institutions with a commitment to fostering knowledge, innovation, and community service.</p>
        </div>

        <!-- Management Cards Row -->
        <div class="row">
          <!-- Card 1 -->
          <div class="col-lg-3 col-sm-6 mt-5">
            <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
              <img class="card-img-top rounded-0" src="static/images/teachers/teacher-1.jpg" alt="management" />
              <div class="card-body text-center">
                <h4 class="card-title">Shilpa US</h4>
                <p>Asst. Professor in Law</p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-facebook"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="col-lg-3 col-sm-6 mt-5">
            <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
              <img class="card-img-top rounded-0" src="static/images/teachers/teacher-2.jpg" alt="management" />
              <div class="card-body text-center">
                <h4 class="card-title">Rameez Siddique</h4>
                <p>Asst. Professor in Law</p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-facebook"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="col-lg-3 col-sm-6 mt-5">
            <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
              <img class="card-img-top rounded-0" src="static/images/teachers/teacher-3.jpg" alt="management" />
              <div class="card-body text-center">
                <h4 class="card-title">Muhsins. K.A </h4>
                <p>Asst. Professor in History</p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-facebook"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Card 4 -->
          <div class="col-lg-3 col-sm-6 mt-5">
            <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
              <img class="card-img-top rounded-0" src="static/images/teachers/teacher-3.jpg" alt="management" />
              <div class="card-body text-center">
                <h4 class="card-title">Rakesh</h4>
                <p>1st BA LLB Student</p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-facebook"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="ti-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- /row -->
      </div>
    </div>
  </section>
  <!-- /Management Team Section -->

    <!-- Management Team Section -->
    <section class="section py-2">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-12">
            <h1 class="section-title fs-4" data-aos="fade-left">The committee has convened its first meeting on 27/11/ 2024 at the Legal Aid Room of Ilahing Law College and selected Smt. Shilpa O.A, Asst- Professor as the convenor of the Committee.</h1>
          </div>
  
          <!-- Management Cards Row -->
          <div class="row">
            <!-- Card 1 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-1.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Shilpa US</h4>
                  <p>Asst. Professor in Law</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <!-- Card 2 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-2.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Rameez Siddique</h4>
                  <p>Asst. Professor in Law</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <!-- Card 3 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-3.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Muhsins. K.A </h4>
                  <p>Asst. Professor in History</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <!-- Card 4 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-3.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Rakesh</h4>
                  <p>1st BA LLB Student</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- /row -->

          <!-- Management Cards Row -->
          <div class="row">
            <!-- Card 1 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-1.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Fathima</h4>
                  <p></p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <!-- Card 2 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-2.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Sathyan M</h4>
                  <p>PRO</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <!-- Card 3 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-3.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Kabier T.M</h4>
                  <p></p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <!-- Card 4 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-3.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Dr.K.J.Rajan </h4>
                  <p>Principal (Chairperson)</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- /row -->

          <!-- Management Cards Row -->
          <div class="row">
            <!-- Card 1 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-1.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Sajeev.S.R </h4>
                  <p>Student Representantive</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <!-- Card 2 -->
            <div class="col-lg-3 col-sm-6 mt-5">
              <div class="card management-card border-0 rounded-0 hover-shadow" data-aos="fade-left">
                <img class="card-img-top rounded-0" src="static/images/teachers/teacher-2.jpg" alt="management" />
                <div class="card-body text-center">
                  <h4 class="card-title">Prakash.K</h4>
                  <p>Student Representantive</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- /row -->
        </div>
      </div>
    </section>
    <!-- /Management Team Section -->
{% endblock %}
