{% extends 'base.html' %}
{% block content %}
<!-- Page Title -->
<section class="page-title-section overlay" data-background="static/images/title.jpeg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item">
            <a class="h2 text-primary font-secondary" href="programs.html">Programs</a>
          </li>
          <li class="list-inline-item text-white h3 font-secondary"></li>
        </ul>
        <p class="text-lighten">
          Home <i class="fa-solid fa-angles-right"></i> Programs
        </p>
      </div>
    </div>
  </div>
</section>
<!-- /Page Title -->

<!-- Academic Programs Section -->
<section class="academics-section py-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="section-title font-weight-bold" data-aos="flip-up">Explore Our Academic Programs</h2>
      </div>
    </div>

    <!-- Academic Program Cards -->
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/2day.png" class="card-img-top" alt="2-day Seminar" data-aos="flip-up" />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">Two-day national seminar inaugurated by Mr. B Kemel
              Pasha (Retired Judge of High Court of Kerala)</h5>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/llbbatch.png" class="card-img-top" alt="LLB Batch" data-aos="flip-down" />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">First LLB Batch Motivation class by Mr. Mahesh G
              (District Judge)</h5>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/seminar.png" class="card-img-top" alt="Seminar" data-aos="flip-up" />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">Seminar by Dr. N.L. Sajikumar, Associate Professor, Govt
              Law College, Trivandrum</h5>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/republicday.png" class="card-img-top" alt="Republic Day"
            data-aos="flip-down" />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">Republic Day festivities with Taluk Legal Services
              Committee</h5>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/motivationalclass.png" class="card-img-top" alt="Motivational Class"
            data-aos="flip-up" />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">Motivation class by Mr. A.M. Jamal Azhari (School of
              Quran and Science, Aluva)</h5>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/cyber.png" class="card-img-top" alt="Cyber Security" data-aos="flip-down" />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">Cyber Security awareness programme by DLSA, Kerala
              Police Cyber Crime Unit, and Sevakh Global</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- /Academic Program Cards -->
  </div>
</section>
<!-- /Academic Programs Section -->
<!-- CSS override to replace background image -->
<style>
  section.page-title-section.overlay[data-background='static/images/backgrounds/page-title.jpg'] {
    background-image: url('static/images/title.jpeg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
{% endblock %}