{% extends 'base.html' %}
{% block content %}
  <!-- page title -->
  <section class="page-title-section overlay" data-background="static/images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" href="programs.html">Programs</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary"></li>
          </ul>
          <p class="text-lighten">
            Home <i class="fa-solid fa-angles-right"></i> Programs
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

<!-- Academics Section -->
<section class="academics-section py-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="section-title font-weight-bold" data-aos="flip-up">Explore Our Academic Programs</h2>
      </div>
    </div>

    <!-- First Row of Academic Programs -->
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/2day.png" class="card-img-top" alt="LLB Program" data-aos="flip-up">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-up">Two-day national seminar Inaugrated by Mr.B Kemel Pasha (Retired Judge of High Court of Kerala)</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/llbbatch.png" class="card-img-top" alt="3-Year LLB Program" data-aos="flip-down">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-down">Commencement of first LLB Batch Motivation class- By Mr.Mahesh. G (District Judge)</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/seminar.png" class="card-img-top" alt="Merit LL.B. Program" data-aos="flip-up">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-up">Seminar by Dr. N.l Sajikumar, Associate Professor, Govt Law College, Trivandrum</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/republicday.png" class="card-img-top" alt="Management Quota" data-aos="flip-down">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-down">Republic day festivities in association with Taluk legal services committee</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Row of Academic Programs -->
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/motivationalclass.png" class="card-img-top" alt="Diploma Law" data-aos="flip-up">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-up">Motivation class led by Mr. A.M. Jamal Azhari ( School of Quran and Science, Aluva)</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/cyber.png" class="card-img-top" alt="PG Law" data-aos="flip-down">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-down">Cyber Security awareness programme by Ernakulam Dustrict legal services authority, Kerala Police Cyber Crime Unit and Sevakh Global</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/lexmas.png" class="card-img-top" alt="Online Course" data-aos="flip-up">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-up">"Lexmas" Christmas Celebration</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100 shadow border-0">
          <img src="static/images/events/iftar.png" class="card-img-top" alt="Legal Workshop" data-aos="flip-down">
          <div class="card-body">
            <h5 class="card-title font-weight-bold section-title text-center" data-aos="flip-down">Iftar Meet</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- /Second Row -->
  </div>
</section>
<!-- /Academics Section -->

{% endblock %}
